@charset "utf-8";
/*main*/
.text {
	text-align: center;
	margin: 0 20px 20px;
}

ol {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 20px 20px;
	gap: 10px;
}
dl {
	margin: 0 20px;
}
dl div {
	margin: 0 auto;
	width: 70%;
}
dl dt {
	text-decoration: underline;
}
dl dd {
	margin: 0 20px 20px;
}


